$padding-top: 40px;
$menucovercolor: #f8f8f8;
$topLivreHeight: 180px;

//$univesrsal_font_family: "Raleway", Arial, Helvetica, sans-serif !important;
//$univesrsal_font_family: "Gothic" !important;
$univesrsal_font_family: "gill-sans-nova", sans-serif !important;
$univesrsal_font_weight: 12;

// https://twitter.com/livraze
